services:
  agente-financeiro:
    build: .
    container_name: agente-financeiro
    restart: always
    expose:
      - "8000"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.finanzas.rule=Host(`finanzas.ktuche.com`)"
      - "traefik.http.routers.finanzas.entrypoints=websecure"
      - "traefik.http.routers.finanzas.tls.certresolver=myresolver"
      - "traefik.http.services.finanzas.loadbalancer.server.port=8000"
    networks:
      - n8n_default
    volumes:
      - ./data:/app/data

  redis:
    image: redis:alpine
    container_name: redis-agente
    restart: always
    expose:
      - "6379"
    volumes:
      - ./redis_data:/data
    networks:
      - n8n_default

networks:
  n8n_default:
    external: true
